//Sidebar CSS

.ch-message {
    &__sidebar {
        @extend .col-lg-2;
    }

    &__author {
        @extend .text-center;

        margin-bottom: 40px;
        padding: 0 20px;

        &-img {
            border-radius: 50%;
            margin-bottom: 25px;
        }

        &-info {
            font-size: $fs-normal;
            font-weight: 500;
        }
    }

    &__tab {
        padding: 10px 30px;
        
        ul {
            @extend .list-unstyled;

            ul {
                padding-left: 40px;

                a {
                    display: inline-block;
                    font-size: $fs-small;
                    font-weight: 500;
                    padding: 8px;

                    &.active {
                        color: $c-primary;
                    }
                }
            }
        }

        &-list {
            &-item {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }

                > a {
                    @extend %ch-btn;

                    margin-bottom: 10px;
                    padding: 15px 30px;
                    width: 100%;

                    &.active {
                        @extend %ch-btn--primary;
                    }
                }
            }
        }
    }
}