/*==========================================================
=            Typography Variable and Declaration            =
============================================================*/
/*----------  Font Family Variable  ----------*/

$ff-primary: 'Roboto', sans-serif;

/*----------  Font Size Variable  ----------*/

$fs-xx-large      : 64px;
$fs-xm-large      : 45px;
$fs-x-large       : 36px;
$fs-large         : 28px;
$fs-xs-medium     : 24px;
$fs-medium        : 22px;
$fs-xm-medium     : 20px;
$fs-x-medium      : 18px;
$fs-normal        : 16px;
$fs-small         : 14px;
$fs-x-small       : 12px;

/*=====  End of Typography Variable and Declaration  ======*/
